doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://cdn.plot.ly/plotly-latest.min.js")
    script(src="https://zeptojs.com/zepto.min.js")
  body
    block content

    block scripts